#page{
	margin: 0;
	padding: 0;
}


/*nav part*/
 #page nav{
	height: 50px;
	background: white;
	border: black double 3px;
	position: fixed;
	z-index: 1;
}

#page nav li img{
	width:50px;
	height: auto;
	margin: 0 0 10px 0;
}

#page nav ul{
	margin: 0;
	padding: 0;
}
#page nav ul.dropdown-menu{
	width:10%;
	height:auto;
}

#page nav ul li{
	list-style-type: none;
	text-align: center;
	float: left;
	font-size: 18px;
	line-height: 50px;
	margin-right: 3.1px;
	letter-spacing: 0.5px;
	text-decoration: none;
	color: black;
	font-family: 'Josefin Slab', serif;
}

#page nav ul li a{
	display: block;
	text-decoration: none;
	color: black;
	height: 50px;
	line-height: 50px;
	text-align: center;
	/*text-transform: uppercase;*/
	font-size: 18px;
	margin-right: 3.1px;
	letter-spacing: 0.5px;
}



/*fin de nav part*/


/*fin de nav part*/

#page header img{
	width:100%;
	height: auto;

}
#page header h1{
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    color:white;
    font-family: 'Josefin Slab', serif;
    font-size: 54px;
    font-weight: bolder;
}

#page #map iframe{
	position: relative;
	display: block;
	margin:0 auto;
	width: 70%;
	height: 600px;
}
#page #map h1{
	text-align: center;
	font-family: 'Josefin Slab', serif;
}


#page #contact h1{
	text-align: center;
	font-family: 'Josefin Slab', serif;	
}
#page #contact figure{
	display: inline-block;
	text-align: center;
	text-decoration: none;
	font-family: 'Josefin Slab', serif;	
}
#page #contact img{
	width: 30%;
	height: auto;
	margin:auto;
}

/*footer part*/
#page footer{
	height: auto;
	/*float: bottom;*/
	font-family: 'Josefin Slab', serif;	
}
#page footer ul{
	text-decoration: none;
	list-style-type: none;

}
#page footer ul li{
	margin: 0 15px 0 0;
}
#page footer p{
	text-align: justify;
	margin: 25px;
}
